/*General styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(78, 78, 78);
}

main {
  max-width: 60rem;
  margin: 0 auto;
}


/*Styles images*/
img{
  width: 100%;
}

input {
  display: none;
}

.slider-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  gap: 2rem;
}

.slider-container__images {
  overflow: hidden;
  width: 100%;
}

.slider-container__images-move {
  display: flex;
  transition: 0.5s ease-in-out;
}

.slide {
  flex-shrink: 0;
  width: 100%;
}


/*Styles text*/
.slider-container__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-container__control-text {
  width: 70%;
  overflow: hidden;
}

.slider-container__control-text-move {
  display: flex;
  transition: 0.5s ease-in-out;
}

.text {
  flex-shrink: 0;
  width: 100%;
  color: azure;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.09em;
}


/*Styles buttons*/
.slider-container__control-btn {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.slider-container__control-btn label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  width: 2.3rem;
  padding: 0.1rem;
  cursor: pointer;
}

.control-btn {
  height: 1.3rem;
  width: 1.3rem;
  background-color: blue;
  border: 0.15rem solid blue;
  border-radius: 50%;
  cursor: pointer;
}

.slider-container__control-btn label:hover .control-btn {
  background-color: azure;
  border: 0.15rem solid azure;
}

.slider-container__control-btn label:active .control-btn {
  background-color: rgb(194, 200, 200);
  border: 0.15rem solid rgb(194, 200, 200);
}


/*Btn-control animation*/
#image1:checked ~ .slider-container__control .slider-container__control-btn .label-image1 .control-btn {
  background-color: rgb(78, 78, 78);
}
#image2:checked ~ .slider-container__control .slider-container__control-btn .label-image2 .control-btn {
  background-color: rgb(78, 78, 78);
}
#image3:checked ~ .slider-container__control .slider-container__control-btn .label-image3 .control-btn {
  background-color: rgb(78, 78, 78);
}
#image4:checked ~ .slider-container__control .slider-container__control-btn .label-image4 .control-btn {
  background-color: rgb(78, 78, 78);
}


/*Image animation*/
#image1:checked ~ .slider-container__images .slider-container__images-move {
  transform: translateX(0);
}
#image2:checked ~ .slider-container__images .slider-container__images-move {
  transform: translateX(-100%);
}
#image3:checked ~ .slider-container__images .slider-container__images-move {
  transform: translateX(-200%);
}
#image4:checked ~ .slider-container__images .slider-container__images-move {
  transform: translateX(-300%);
}


/*Text animation*/
#image1:checked ~ .slider-container__control .slider-container__control-text .slider-container__control-text-move {
  transform: translateX(0);
}
#image2:checked ~ .slider-container__control .slider-container__control-text .slider-container__control-text-move {
  transform: translateX(-100%);
}
#image3:checked ~ .slider-container__control .slider-container__control-text .slider-container__control-text-move {
  transform: translateX(-200%);
}
#image4:checked ~ .slider-container__control .slider-container__control-text .slider-container__control-text-move {
  transform: translateX(-300%);
}


/*Media queries*/
@media screen and (max-width: 725px) {
  .slider-container {
    gap: 1rem;
  }
  .slider-container__control {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .slider-container__control-text {
    order: 2;
    align-self: self-start;
    width: 100%;
  }
  .slider-container__control-btn {
    order: 1;
  }
}

@media screen and (max-width: 520px) {
  .slider-container__control-btn label {
    height: 2rem;
    width: 2rem;
  }
  .control-btn {
    height: 1rem;
    width: 1rem;
  }
  .text {
    font-size: 1rem;
  }
}
